<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% if page.og_image_url %}<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.og_image_url }}" />{% endif %}
    {% if page.og_title %}<meta property="og:title" content="{{ page.og_title }}" />{% endif %}
    {% if page.og_desc %}<meta property="og:description" content="{{ page.og_desc }}" />{% endif %}
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png?v=2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/FontFace.css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    {% if page.title == "About" %}<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/timeline.css">{% endif %}
</head>

