---

---

$width : 200px;
$height : 200px;
$num_rows: 28;
$num_cols: 28;

.pixel-picker-container{
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}
.pixel-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
}


.pixel-container {
  box-sizing: border-box;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  //display: inline-grid;
  user-select: none;
  //width: $width;
}

.pixel-picker-row {
  margin: 0;
  width: 100%;
  display: table;
  clear: both;
  height: percentage(1/$num_rows);
}

#reset-btn{
    width:100%;
}

.pixel-picker-cell {
  display: table-cell;
  //padding-top: 5%;
  height: 100%;
  cursor: pointer;
  background-color: #000000;
  box-shadow: inset -1px -1px 0 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  transition: background-color 0.05s ease-in;
}

.pixel-picker-row:first-child .pixel-picker-cell {
  box-shadow: inset -1px -1px 0 0 rgba(255, 255, 255, 0.2),
              inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}

.pixel-picker-row .pixel-picker-cell:first-child {
  box-shadow: inset -1px -1px 0 0 rgba(255, 255, 255, 0.2),
              inset 1px 0 0 0 rgba(255, 255, 255, 0.2);
}

.pixel-picker-row:first-child .pixel-picker-cell:first-child {
  box-shadow: inset -1px -1px 0 0 rgba(255, 255, 255, 0.2),
              inset 1px 1px 0 0 rgba(255, 255, 255, 0.2);
}
