---
layout: default
title: siarez projects
permalink: projects/
---

<div  class="container-fluid" >
    <div class="row" style="width:100%;position:fixed; z-index:-1; height:60vh; background-size:cover;background-position:center center;background-image:url('{{ site.baseurl }}/assets/images/brain-map-pink.jpg')">
    </div>
    <div class="row" style="height:60vh;">
    </div>
    <div class="row justify-content-md-center" style="background-color:rgba(255, 255, 255, 0.95)">
        <div class="col-12 col-sm-8"  >
            <h1 class="text-center pt-5">projects</h1>
            <hr class="m-5" />

            {% for post in site.posts %}
            {% if post.publish %}
            <div class="row justify-content-md-center" style="padding-bottom:6rem; position:relative">
                <a class="" style="width:100%; display:inherit; flex-wrap:inherit" href="{{ post.url | prepend: site.baseurl }}">
                    <div class="col-sm-4 offset-sm-0 col-10 offset-1 " style="">
                        <div  style="width:100%; height:200px; background-position:center center; background-size:cover; background-image:url('{{ site.baseurl }}{{ post.image.url }}')" ></div>
                    </div>

                    <div class="col-sm-8 offset-sm-0 col-10 offset-1" style="">
                        <div>
                            <h3 class="blog-text" style="font-variant: small-caps;">{{ post.title }}</h3>
                            <p class="blog-text">{{ post.excerpt  | strip_html | truncatewords: 30 }}</p>
                        </div>
                            <span class="blog-text" style="  position: absolute;top: 5px;right: 15px;">{{ post.date | date: "%b %-d, %Y" }}</span>

                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>

</div>

