---
layout: default
---


<div id="post-content" class="" >
    <div  class="container-fluid" >
        <div class="row" style="width:100%;position:fixed; z-index:-1; height:80vh; background-size:cover;background-position:center center;background-image:url('{{ site.baseurl }}{{ page.image.url }}')">
        </div>
        <div class="row" style="height:80vh;">
        </div>
        <div class="row" style="background-color:rgba(255, 255, 255, 0.93)">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3" style="padding-top:1rem; padding-bottom:4rem">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div  class="row postcontent" style="background-color:rgba(255, 255, 255, 0.93); padding-bottom:8rem">
            <div class="hidden-sm-down col-sm-3 col-md-offset-1 col-md-3" >
                <h2 class="">other posts</h2>

                <ul class="">
                    {% for post in site.posts %}
                    {% if post.publish == true and post.title != page.title %}
                    <li>
                        <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <h5>
                            <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h5>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 offset-0 col-sm-8 offset-sm-0 col-md-6 ">
                {{ content }}
                <div class="row" style="height:5rem"></div>
            </div>
        </div>
        {%comment%}
        <div class="row" style="background-color:rgba(255, 255, 255, 0.93); padding:3%;">
            <div class="row" style="margin-bottom:3rem;">
                <div class="col-2 offset-7" style="margin-top:7rem;"><hr></div>
                <div class="col-6 ">
                    <h1 class="" style="text-align:center">discover more</h1>
                </div>
                <div class="col-2 " style="margin-top:7rem;"><hr></div>
            </div>
            <div style=" margin-top:1rem" class="col-18 offset-3    col-md-8  col-md-offset-0">
                <div class="" style="position:relative">
                    <a class="" href="{{ site.baseurl }}/">
                        <div class="gradient" style="">
                            <img style="width:100%" class=" img-responsive" src="{{ site.baseurl }}/images/home-footer-v2-04.png">
                        </div>
                        <div class=" isotopeSummary enableHover" style="bottom:-40px;">
                            <div class="isotopeDetailed">
                                <p class="description light_on_dark">Serene Audio Home</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div style=" margin-top:1rem" class="col-18 offset-3 col-md-8 col-md-offset-0 ">
                <div class="" style="position:relative">
                    <a class="" href="{{ site.baseurl }}/blog">
                        <div class="gradient" style="">
                            <img style="width:100%" class=" img-responsive" src="{{ site.baseurl }}/images/blog.jpeg">
                        </div>
                        <div class=" isotopeSummary enableHover" style="bottom:-40px;">
                            <div class="isotopeDetailed">
                                <p class="description light_on_dark">Blog Home</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div style=" margin-top:1rem" class="col-18 offset-3  col-md-8 col-md-offset-0">
                <div class="" style="position:relative">

                    {% for post in site.posts %}
                    {% if post.publish == true and post.title == page.title %}
                    {% assign next_i = forloop.index0 | plus: 1 %}
                    {% if site.posts[next_i].publish == true %}
                    <a class="" href="{{site.posts[next_i].url | prepend: site.baseurl}}">
                        <div class="gradient" style="" >
                            <img style="visibility: hidden; width:100%;" class=" img-responsive" src="{{ site.baseurl }}/images/home-footer-v2-04.png">
                            <div  class=" img-responsive" style="background-image:url('{{ site.baseurl }}{{ site.posts[next_i].image.url }}'); position: absolute;height: 100%;width: 100%;top: 0;left: 0;background-size: cover;background-position: center;" ></div>
                        </div>
                        <div class=" isotopeSummary enableHover" style="bottom:-40px;">
                            <div class="isotopeDetailed">
                                <h5 class="description light_on_dark" >Next </h5>
                                <p class="description light_on_dark">{{site.posts[next_i].title}}</p>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {%endcomment%}

        <div  class="row" style="background-color:rgba(255, 255, 255, 0.93); padding-bottom:8rem">
            <div class="col-12 offset-0 col-sm-8 offset-sm-5 col-md-6 offset-md-3">
                <!-- Disqus Start --->
                {% if page.disqus_identifier %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'siarez-com';
                    var disqus_identifier = '{{ page.disqus_identifier }}';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                {% endif %}
                <!-- Disqus End --->
            </div>
        </div>
    </div>
</div>
<!--<div class="stickyNav" style="background-color:red; width:100px; height:100px; margin-top:100px"></div>-->
